<!DOCTYPE html>
<html>
	<head>
		<title> About Us </title>
	</head>
	<body>
		<h1> Our history </h1>
		<p> The hotel started out as an idea between three friends. One absolutely loves the smell and ambiance that the mountains and the forest under the mountains give, one absolutely loves the sound of the river flowing nearby and the cool water it provides, and one absolutely loves the breeze that both of these sceneries provide. Because of that, the three founded Mountainview. With well-affordable rates for rooms, Mountainview aims to pleasure and relax its guests. </p>

	</body>
</html>
