<!DOCTYPE html>
<html>
	<head>
		<title> Amenities </title>
	</head>
	<style type = "text/css">
			body { background-color: pink; }
	</style>
	<body>
		<h1> Rooms Available </h1>
		<img src="deluxe.jpg" alt="Deluxe Room" > <p> DELUXE ROOM <br> <br> <br>
		<img src="standard.jpg" alt="Standard Room"> <p> STANDARD ROOM
		<p>  </p>

	</body>
</html>
