<!DOCTYPE html>
<html>
	<head>
		<title> Confirmed! </title>
	</head>
	<body>
		<h1> Greetings, <%= @nameofperson %>, <%= @email %>. Thank you for reserving. </h1>
		<h2> You will be taking <%= @roomkind %> on  <%= @date %> </h2>

	</body>
</html>
