<!DOCTYPE html>
<html>
	<head>
		<title> Confirmed! </title>
	</head>
	<style type = "text/css">
			body { background-color: pink; }
	</style>
	<body>
		<h1> <%= @reserve.say_your_confirmation %> </h1>
	</body>
</html>



