<!DOCTYPE html>
<html>
	<head>
		<title> This is my website </title>
		<style type = "text/css">
			body { background-color: pink; }
		</style>
	</head>
	<body>
		<h1> WELCOME TO MOUNTAINVIEW, visitor! </h1>
		<img src="1.gif" alt="Gif dapat ito" >

	</body>

</html>
